* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.portrait{
    text-align: center;
    margin: 40px 0 80px 0;
}

.description{
    font-size: 24px;
    width: 80%;
    float: right;
}

.info{
    font-size: 18px;
    width: 70%;
    margin: -290px 129px 230px 0;
    float: right;
}

.sect_t1{
    border-right: 4px solid black;
    margin-right: 85%;
    margin-left: 90px;
    margin-bottom: 80px;
    padding: 10px 0 135px 0;
}

.sect_t2{
    border-right: 4px solid black;
    margin-right: 85%;
    margin-left: 60px;
    margin-bottom: 166px;
    padding: 15px 0 180px 0;
}

.sect_t3{
    border-right: 4px solid black;
    margin-right: 85%;
    margin-left: 60px;
    margin-bottom: 80px;
    padding: 15px 0 25px 0;
}

.container {
    width: 60%;
    float: right;
    margin-right: 270px; 
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; 
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.item-1 {
    grid-column: 1/3;
    grid-row: 1/3;
}
  
.item-2 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.item-3 {
    grid-column: 4/6;
    grid-row: 3/5;
}

.item-4 {
    grid-column: 1/4;
    grid-row: 3/5;
}

.item-5 {
    grid-column: 4/6;
    grid-row: 1/3;
}

header {
    padding: 20px;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    background-color: black;
    color: gray;
    font-size: 24px;
}

header nav{
    float: right;
    font-size: 20px;
    margin-top: -30px;
}

nav ul li{
    display: inline;
    margin-right: 10px;
}

li{list-style-type: none;}

a{
    color: lightseagreen;
    text-underline-position: under;
    font-weight: bold;
}

body{
    background-color: #9672ba;
}